<!doctype html>
<html lang="en" ng-app='app'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ShoppingListController as tobuy'>
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in tobuy.list">Buy {{item.quantity}} {{item.name}}
       <button ng-click="tobuy.buy($index);" class="btn btn-default" ><span class="glyphicon glyphicon-shopping-cart"></span> Buy</button>
       </li>

     </ul>
     <div ng-show="tobuy.list.length == 0" class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller='PurchasedController as purchased'>
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in purchased.purchasedList">Bought {{item.quantity}} {{item.name}}</li>
     </ul>
     <div class="emptyMessage" ng-show="purchased.purchasedList.length === 0">Nothing bought yet.</div>
    </div>
  </div>
</div>

<script src="js/angular.min.js"></script>
<script>
    (function(){
    app = angular.module('app', []);
    app.controller('ShoppingListController', ShoppingListController);
    app.controller('PurchasedController', PurchasedController);
    app.service('ShoppingListService', ShoppingListService);


    ShoppingListController.$inject = ['ShoppingListService'];
    function ShoppingListController(ShoppingListService) {
        var  sCtrl = this;
        sCtrl.list = ShoppingListService.getShoppingList();

        sCtrl.buy = function (index) {
            ShoppingListService.buyItem(index);

        };
    };

    PurchasedController.$inject = ['ShoppingListService'];
    function PurchasedController(ShoppingListService) {
        pCtrl = this;
        pCtrl.purchasedList = ShoppingListService.getPurchasedList();



    };


    function ShoppingListService() {
        var service = this;
        var shoppingList = [{ name: "Cookies", quantity: 10}, { name: "Sodas", quantity: 10}, { name: "Chips", quantity: 50}, { name: "Chocolate bars", quantity: 250}, { name: "Candy", quantity: 20}];
        var purchasedList = [];

        service.getShoppingList = function () {
            return shoppingList;
        };

        service.getPurchasedList = function () {
            return purchasedList;
        };


        service.buyItem = function (index) {
            var item = shoppingList[index];
            shoppingList.splice(index, 1);
            purchasedList.push(item);

        };


    };



    })();
</script>
</body>
</html>
