body {
    background-color: #ffffff;
    box-sizing: border-box;

}

#header-navbar {

    background-color: #75B8C8;
    border-radius: 0;
    border-width: 0;

}

.navbar-brand  h1 {

    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.2em;
    color: #fff;
}

h1.page-title {

    margin-bottom: 35px;
}

p.section-title {
    font-weight: bold;
    font-size: 1.2em;
}

.main-content {
    background-color: #75B8C8;
    color: #000;
    border-radius: 3px;
    padding: 10px 30px 10px 30px;
    margin-right: 0;
    margin-bottom: 10px;

}

.back a {

    color: black;
    font-weight: bold;
}

#collapsable-nav {
    border: 0;
    text-align: center;
    width: 100%;
}



/********** Extra small devices only **********/


@media (max-width: 767px) {

    .container {

        width: 80%;
    }
    .container-fluid {

        padding-right: 0;
        padding-left: 0;
    }
    .container-fluid>.navbar-collapse {

        margin-left: 0px;

    }

    nav.container {

        width: 100%;
    }

    #collapsable-nav li {
    border-top: 1px solid black;
    }
    #collapsable-nav li a {
    color: white;
    }
    #collapsable-nav li a:hover {
    color: black;
    background-color: white;
    }

    .navbar-header {
        padding-left: 15px;
        padding-right: 15px;
    }

}

/********** MEDIUM TO LARGE  **********/
@media (max-width: 991px) {

    .main-content {
    margin-top: 15px;

    }

}

/********** MEDIUM TO LARGE  **********/
@media (min-width: 992) {




}